<div class="_message hidden">
    <div class="_message_background"></div>
    <div class="_message_container p-6 bg-white shadow-md rounded">
        <div class="text-center mb-6"><p class="_message_body">Message body</p></div>
        <div class="text-center">
            <button class="_message_button inline-block bg-indigo-500 hover:bg-indigo-600 hover:cursor-pointer text-white font-bold py-4 px-4 rounded">
                Ok
            </button>
        </div>
    </div>
</div>